.layout{
position: relative;
margin: 0 auto;
width: 800px;
display: flex;
flex-direction: column;
}
.text{
  height: 500px;
  display: flex;
  flex-direction: column;
overflow-x:hidden;
overflow-y:auto
}.pop {
margin: 10px;
display: flex;
flex-direction: column;
}